# Excluir dependencias locales y archivos temporales
node_modules/
stems_*
public/outputs/
uploads/
tmp_audio_*.mp3

# Excluir archivos de configuración no necesarios dentro del contenedor
docker-compose.yml
README.md

# Excluir archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
