services:
  audiosplitter:
    build: .
    container_name: myaudiosplitter-container
    ports:
      - "8080:8080"
    volumes:
      - ./public:/app/public
      - ./uploads:/app/uploads
    restart: unless-stopped
